#cover {
    background-size: cover;
    width: 100%;
    height: 160px;
    position: relative;
}

#footer {
    background-color: #666;
    width: 100%;
    height: 100px;
}

#footer p {
    text-align: center;
    padding-top: 45px;
    color: #ccc;
}

.submit-button {
    padding: 50px 0;
    text-align: center;
}

.submit-button button {
    width: 50%;
    margin: 0 auto;
}

.text-section {
    padding-top: 30px;
}

.text-section h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.complete-message {
    padding: 100px 0;
}

